/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.menu-item h4 a {
    color: white;
    display: block;
    text-decoration: none;
    width: 200px;
}

.menu-item h4 {
    border-bottom: 1px solid rgba(0,0,0,0.3);
    border-top: 1px solid rgba(255,255,255,0.2);
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    padding: 7px 12px;

    /*Gradient*/
    background: #a90329; /* Old browsers */
    background: -moz-linear-gradient(top, #a90329 0%, #8f0222 44%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top, #a90329 0%,#8f0222 44%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}
.menu-item h4:hover {  
    background: #cc002c; /* Old browsers */
    background: -moz-linear-gradient(top,  #cc002c 0%, #6d0019 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cc002c), color-stop(100%,#6d0019)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* IE10+ */
    background: linear-gradient(top,  #cc002c 0%,#6d0019 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc002c', endColorstr='#6d0019',GradientType=0 ); /* IE6-9 */
}
.alpha p {
    font-size: 13px;
    padding: 8px 12px;
    color: #aaa;
}
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;
}

.menu-item ul a {
    margin-left: 20px;
    text-decoration: none;
    color: #aaa;
    display: block;
    width: 200px;
}

/*li Styles*/
.menu-item li {
    border-bottom: 1px solid #eee;
}

.menu-item li:hover {
    background: #eee;
}
/*ul Styles*/
.menu-item ul {
    background: #fff;
    font-size: 13px;
    line-height: 30px;
    height: 0px;
    list-style-type: none;
    overflow: hidden;
    padding: 0px;

    /*Animation*/
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    -o-transition: height 1s ease;
    -ms-transition: height 1s ease;
    transition: height 1s ease;
}

.menu-item:hover ul {
    height: 93px;
}
* {
    margin: 0px;
    padding: 0px;
}

body {
    background: #e5e5e7;
}

nav {
    position:fixed;
    top:0;
    left:0;
    width: 10%;
    height: 100%;
    overflow: auto;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
        
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}

.menu-item {
    background: #fff;
    width: 200px; 
}
.main-view {
    width: 78%;
    margin-left: 12%;
    margin-right: 10%;
}

.righsidenav {
    position:fixed;
    top:0;
    right:0;
    width: 15%;
    height: 100%;
    overflow: auto;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
        
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.righsidenav ul{
    font-size: 10pt;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.topsidenav {
    position:fixed;
    top:0;
    width: 60%;
    min-width: 163px;
    align-items: center;
    text-align: center;
    overflow: auto;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 1.5;
    background: #e5e5e7;
        
    -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.jartcontent{ 
     
    margin: auto;
    margin-top: 3%;
}
.jartHead{
    margin:5px;
    font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
}
.kodexStyle{
    font-size: 9pt;
}

.celszamtabla{
    width: 17%;
    text-align: center;
    display:inline-table ;
    margin-left:5px auto; 
    margin-right:5px auto;
    align-items: center;
    overflow: auto;
    border-spacing: 10px;
}

 .custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Játékos hozzáadása';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  margin: 20px;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.charnev{
   
  font-size: 11pt;
  margin-right: 10px
}
.charhp{
    color: red;
}
.charep{
    color: blue;
}
.margin10{
    margin-right: 10px
}