<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Káosz RPG</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/normalize.css">
        <link rel="stylesheet" href="bower_components/html5-boilerplate/dist/css/main.css">
        <link rel="stylesheet" href="app.css">
        <script src="bower_components/html5-boilerplate/dist/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <nav >
            <div class="menu-item alpha" ng-controller="FajCtrl">
                <h4><a href="#">Home</a></h4>
                <p>Káosz RPG segédlet</p>
                <p>  <input type="button" value="D100:"ng-click="d1=Math.floor(Math.random() * 100-1+1) + 1; " class="margin10" /> {{d1}}</p>
                <p>  <input type="button" value="D100:"ng-click="d2=Math.floor(Math.random() * 100-1+1) + 1;  " class="margin10"/> {{d2}}</p>
            </div>

            <div class="menu-item">
                <h4><a href="#">Játékosoknak</a></h4>
                <ul>
                    <li><a href="#/faj">Új karakter</a></li>
                    <li><a href="#/karakter">Karakter</a></li>
                    <li><a href="#/felszereles">Felszerelés</a></li>
                    <li><a href="#/kodexek">Kódexek</a></li>
                </ul>
            </div>


            <div class="menu-item">
                <h4><a href="#">Kalandmesternek</a></h4>
                <ul>
                    <li><a href="#/tablak">Segédlet</a></li>
                    <li><a href="#/npcGen">NPC GEN</a></li>
                    <li><a href="#/varazstargyak">Varázstárgyak</a></li>

                </ul>
            </div>
        </nav>



        <div ng-view class="main-view"></div>



        <!-- In production use:-->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
        
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-route/angular-route.js"></script>
        <script src="app.js"></script>
        <script src="js/rendek.js"></script>
        <script src="js/faj.js"></script>
        <script src="js/services.js"></script>
        <script src="js/jartassagok.js"></script>
        <script src="js/elonyHatrany.js"></script>
        <script src="js/tablak.js"></script>
        <script src="js/karakter.js"></script>
        <script src="js/korFoertek.js"></script>
        <script src="js/praktikus.js"></script>
        <script src="js/kodexek.js"></script>
        <script src="js/npcGen.js"></script>
         <script src="js/felszereles.js"></script>
         <script src="js/varazstargyak.js"></script>
        <script src="components/version/version.js"></script>
        <script src="components/version/version-directive.js"></script>
        <script src="components/version/interpolate-filter.js"></script>
    </body>
</html>
